<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<ul>
    {% for m in menu %}
    <li style="display: inline-block; margin-right: 5px"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
    {% endfor %}
</ul>

<h1>Объявление</h1>
<ul>
    {% for annons in announcing %}
    <li>{{ annons }}</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    <input type="text" name="data" value=""/>
    <input type="submit"/>
</form>

{% if key%}
<h2>Создание новой записи успешно выполнено</h2>
{% endif %}
<p>Количсетво запросов: {{ request.request_counter }}</p>
</body>
</html>