<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    {% for m in menu %}
    <li style="display: inline-block; margin-right: 5px"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
    {% endfor %}
</ul>

<h1>Категории</h1>
<form method="post">
    {% csrf_token %}
    <select name="category">
        {% for cat in category_list %}
        <option>{{ cat }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Отправить">
</form>

<h1>Регионы</h1>
<form method="post">
    {% csrf_token %}
    <select name="regions">
        {% for reg in regions %}
        <option value='{{ reg }}'>{{ reg }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Отправить">
</form>

<form method="post" name="qq">
    {% csrf_token %}
    <p><input type="search" name="q" placeholder="Поиск объявления">
        <input type="submit" value="Найти"></p>
</form>


{% if category %}
<h2>Вы выбрали</h2>
<p>Категорию: {{ category }}</p>
{% endif %}

{% if region %}
<h2>Вы выбрали</h2>
<p>Регион: {{ region }}</p>
{% endif %}


{% if q %}
<h2>Вы искали</h2>
<p>{{ q }}</p>
{% endif %}


</body>
</html>